*.jpg
*.pth
*.zip


# 2. 忽略数据集和日志文件夹
prototypes_test/
prototypes_without_gen/
output/
!output/**/
!output/generate/vitl/*/log.txt
overlays/
weights/
cut_img/
segment-anything-main/
tsne/
tsne_new/
torch-1.13.1+cu116-cp39-cp39-linux_x86_64.whl
build/
prototypes_init/
prototypes_ours/
detectron2.egg-info/
agument.py
agument2.py
check.py
find_img.py
copy-paste.py
pipeline.sh
README.md
weight.py
test.py
tools/extract_features.py
tools/tsne.py
detectron2/data/datasets/__pycache__
detectron2/__pycache__
dreamgaussian/
